<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <title>hello STU</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <h1>歡迎光臨投票系統</h1>
      <p>歡迎來到樹德科技大學行銷管理系105年研討會投稿系統網站，此網站提供所有大專院校
      師生報名及投稿論文資料。
      </p>
      <h2>網站介紹</h2>
      <p>此網站提供登入投稿專區、研討會報名專區、投稿區、聯絡區以及討論版，方便各大專院校師生參與105年樹德科技大學行銷管理系研討會</p>
    
      
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
