<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2014 Rails101s
    <br>Design by <a href="http://facebook.com/canada530803" target=_new>WEN-YI HE</a>
  </p>
</footer>